.footer {
    padding-top: var(--section-offset-y);
    padding-bottom: 60px;
    &__logo {
        gap: 4px;
    }
    .logo__img {
        width: 46px;
        height: 46px;
    }
    .logo__text {
        font-size: 16px;
        font-family: var(--font-secondary);
        font-weight: 400;
        text-transform: uppercase;
    }
    &__list {
        list-style: none;
        gap: 10px 20px;
        margin-top: var(--mt-40);
        flex-wrap: wrap;
        max-width: 253px;
    }
    &__item {
        .nav__link {
            position: relative;
            color: var(--text-color);
            font-size: var(--fz-14);
            font-weight: 400;
            transition: all .3s ease;
            &:before {
                position: absolute;
                content: "";
                bottom: -5px;
                left: 0px;
                width: 100%;
                height: 2px;
                background: var(--button-color);;
                opacity: 0;
                transition: all .3s ease;
            }
            &:hover {
                color: var(--subheader-color);
                &:before {
                    opacity: 1;
                }
            }
        }
        
    }

    &__rights {
        font-size: 12px;
        margin-top: var(--content-offset-y);
    }

    &__subheader {
        font-family: var(--font-secondary);
        text-transform: uppercase;
        text-align: right;
    }

    &__contacts {
        margin-top: var(--mt-24);
        flex-wrap: wrap;
    }

    &__address {
        font-size: var(--fz-14);
        line-height: var(--lh-18);
        text-align: right;
        margin-top: var(--mt-24);
    }
}

@media (max-width: 767px) {
    .footer {
        padding-bottom: 50px;
        &__subheader {
            text-align: left;
            font-size: 20px;
        }
        &__nav {
            margin-top: 40px;
        }
        &__right {
            margin-top: 40px;
        }
        &__address {
            text-align: left;
            margin-top: 24px;
            font-size: 12px;
            line-height: 14px;
        }
    }
}

@media (max-width: 575px) {
    .footer {
        padding-bottom: 40px;
        &__nav {
            max-width: 277px;
        }
        .contacts__item {
            padding: 1px;
            span {
                padding: 14px;
                font-size: 12px;
                line-height: 14px;
            }
            &-circle {
                &:nth-child(1) {
                    order: 3;
                }
                &:nth-child(2) {
                    order: 4;
                }
                span {
                    padding: 11px;
                }
            }
        }
    }
}