.footer {
    padding-top: var(--padding-top-120);
    padding-bottom: 58px;
    &__logo {
        width: 148px;
        height: 30px;
        z-index: 2;
    }
    &__list {
        margin-top: var(--margin-top-28);
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: var(--gap-18) 69px;
        flex-wrap: wrap;
        max-height: 120px;
    }
    &__item {
        width: fit-content;
    }
    &__link {
        color: var(--text-color);
        font-size: var(--fz-16);
        font-weight: 500;
    }
    &__contacts {
        margin-top: var(--margin-top-28);
        display: flex;
        flex-direction: column;
        gap: 12px 0px;
    }
    &__contacts-item {
        display: flex;
        align-items: center;
        gap: 0px 12px;
        i {
            font-size: 28px;
        }
        span {
            font-size: var(--fz-16);
            text-decoration: underline;
            color: var(--text-color);
            font-weight: 500;
        }
    }
    &__address {
        color: var(--text-color);
        margin: 0;
        padding: 0;
        margin-top: var(--margin-top-28);
        font-weight: 500;
    }
    &__policy {
        color: var(--second-text-color);
        font-size: var(--fz-13);
        transition:  all .3s ease;
        text-align: center;
        margin-top: var(--margin-top-38);
        font-weight: 500;
        &:hover {
            color: var(--text-color);

        }
    }
    &__rights {
        color: var(--second-text-color);
        font-size: var(--fz-13);
        text-align: center;
        margin-top: 8px;
        font-weight: 500;
    }
}

@media (max-width: 991px) {
    .footer {
        &__row {
            &-1 {
                gap: var(--gap-28) 0px;
            }
        }
        &__list {
            margin-top: 18px;
            gap: 12px 0px;
            max-width: 270px;
        }
        &__contacts {
            margin-top: 18px;
        }
        &__address {
            margin-top: 18px;
        }
        &__policy {
            margin-top: 28px;
        }
    }
}