.form {
    padding-top: var(--padding-top-120);
    &__wrapper {
        border-radius: var(--border-radius-18);
        background-color: #000;
        padding: 48px 0px;
    }
    &__title {
        text-align: center;
    }
    &__subtitle {
        text-align: center;
        margin-top: var(--margin-top-28);
        max-width: 630px;
    }
    &__content {
        margin-top: var(--margin-top-38);
        width: 590px;
    }
    &__top {
        display: flex;
        flex-direction: column;
        gap: var(--gap-18) 0px;
    }
    &__input {
        padding: 15px 28px;
        border-radius: var(--border-radius-4);
        background-color: var(--line-color);
        border: none;
        outline: none;
        font-size: var(--fz-16);
        color: var(--second-text-color);
        &::placeholder {
            color: var(--second-text-color);
            font-size: var(--fz-16);
        }
    }
    &__file-wrapper {
        display: flex;
        justify-content: space-between;
        padding: 15px 28px;
        border: 1px solid #fff;
        border-radius: var(--border-radius-4);
        color: #fff;
    }
    &__photo {
        font-size: var(--fz-16);
    }
    &__file {
        cursor: pointer;
        color: var(--second-text-color);
        font-size: var(--fz-16);
        text-decoration: underline;
        transition: all .3s ease;
        &:hover {
            color: var(--text-color);
        }
    }
    &__button {
        display: block;
        padding: 15px 70px;
        margin: 0 auto;
        font-size: var(--fz-16);
        font-weight: var(--fw-500);
        line-height: var(--lh-22);
        color: #000;
        border-radius: var(--border-radius-4);
        background-color: #fff;
        border: 2px solid var(--text-color);
        text-align: center;
        position: relative;
        transition: all .35s;
        margin-top: var(--margin-top-28);
        &:hover {
            color: #fff;
            background-color: #000;
        }
    }
    &__policy {
        font-size: var(--fz-13);
        color: var(--second-text-color);
        text-align: center;
        margin-top: var(--margin-top-18);
        a {
            display: inline-block;
            color: var(--second-text-color);
            text-decoration: underline;
            transition: all .3s ease;
            &:hover {
                color: var(--text-color);
            }
        }
    }
}

@media (max-width: 767px) {
    .form {
        &__content {
            width: 100%;
        }
    }
} 