.intro {
    height: 100vh;
    background-image: url('../../img/intro-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    &__wrapper {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-bottom: 100px;
    }
    &__title {
        max-width: 895px;
    }
    &__subtitle {
        margin-top: var(--margin-top-28);
        max-width: 521px;
    }
    &__button {
        margin-top: var(--margin-top-38);
    }
    &__divider {
        margin-top: var(--margin-top-58);
    }
}

@media (max-width: 767px) {
    .intro {
        height: 700px;
        &__wrapper {
            height: 700px;
            padding-bottom: 28px;
        }
    }
}
