.main {
    padding-top: var(--padding-top-150);
    height: 100%;
    &__wrapper {
        height: 500px;
    }
    &__inpage {
        gap: var(--gap-28);
    }
    &__title {
        text-align: center;
    }
    &__subtitle {
        text-align: center;
    }
    &__icon {
        font-size: 100px;
        color: #fff;
    }
}