.ques {
    padding-top: var(--padding-top-120);
    &__title {
        text-align: center;
        margin: 0 auto;
    }
    &__wrapper {
        margin-top: var(--margin-top-28);
    }
    &__item {
        padding: 28px 0;
        border-bottom: 1px solid var(--line-color);
        &:nth-child(1) {
            border-top: 1px solid var(--line-color);
        }
    }
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__text {
        margin-top: 22px;
    }
    &__icon {
        cursor: pointer;
        &:before {
            content: "";
            display: block;
            width: 20px;
            height: 2px;
            border-radius: 4px;
            background-color: var(--text-color);
            transform: rotate(90deg) translateX(2px);
            transition: all .3s ease;
            opacity: 1;
        }
        &:after {
            content: "";
            display: block;
            width: 20px;
            height: 2px;
            border-radius: 4px;
            background-color: var(--text-color);
            transition: all .3s ease;
        }
        &.active {
            &:before {
                transform: rotate(0deg) translateX(0px);
                opacity: 0;
            }
            &:after {
                transform: rotate(180deg);
            }
        }
    }
}

@media (max-width: 767px) {
    .ques {
        &__caption {
            max-width: 270px;
        }
        &__item {
            padding: 18px;
        }
    }
}