@font-face{
	font-family: 'CormorantGaramond';
	font-display: swap;
	src: url("../files/CormorantGaramond-Medium.woff2") format("woff2"), url("../files/CormorantGaramond-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face{
	font-family: 'CormorantGaramond';
	font-display: swap;
	src: url("../files/CormorantGaramond-SemiBold.woff2") format("woff2"), url("../files/CormorantGaramond-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}
@font-face{
	font-family: 'CormorantGaramond';
	font-display: swap;
	src: url("../files/CormorantGaramond-Bold.woff2") format("woff2"), url("../files/CormorantGaramond-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face{
	font-family: 'Cormorant';
	font-display: swap;
	src: url("../files/Cormorant-Medium.woff2") format("woff2"), url("../files/Cormorant-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face{
	font-family: 'Inter';
	font-display: swap;
	src: url("../files/Inter-Regular.woff2") format("woff2"), url("../files/Inter-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: 'Inter';
	font-display: swap;
	src: url("../files/Inter-Medium.woff2") format("woff2"), url("../files/Inter-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
